@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
.about_pc{
    height:100vh;
    background: #efefef;
    padding:1vw 0;
}

.about_pc .about_wrap h3{

    padding-top:50px;
    text-align: center;
    font-size:1.5em;
}

.about_pc .about_wrap .about-contents{
    display:flex;
    align-items: center;
    justify-content: space-evenly;

    width:70%;
    margin:5vw auto;
}
.about_pc .about_wrap .profile-img{
    width:350px;
    height:350px;
    border-radius: 70%;
    overflow: hidden;

}

.about_pc .about_wrap .profile-img img{
    width:100%;
    object-fit: cover;
    
}

.about_pc .about_wrap .about-contents .profile-txt{
    font-size:1.5em;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: 500;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 100,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.about_pc .about_wrap .about-contents .profile-txt ul li{
    padding: 1vw 2vw 1vw .5vw;
    margin:20px 0;
    display:flex;
    align-items:center;

    background: #fff;
    color:#2d2d2d;

    border-radius: 50px;
}
.about_pc .about_wrap .about-contents .profile-txt ul li span{
    padding: 0 1vw;
    color:#3b75f3;
}

.about_pc .about_wrap .about-contents .profile-txt ul li .reply{
    font-weight: 300;
    padding: 0 2vw;
}