.skills-wrap{
    font-family: 'IBM Plex Sans KR', sans-serif;
    background:#3b75f3;
}

.skills-wrap .menu-title{
    padding-top:50px;
    text-align: center;
    font-size:1.5em;
    color:#fff;
} 

.skills-wrap .skill-box{
    padding: 5vw 0;
}
.cards {
    display: flex;
    flex-direction: row;
    gap: 5%;
    text-align: center;
    padding:3vw 0 ;
    justify-content: center;
  }
  
  
  .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    /* height: 100px;
    width: 100px; */
    border-radius: 10px;
    color: #3b75f3;
    cursor: pointer;
    transition: 400ms;
    background:#fff;

    padding: 0 2vw;
    max-width:220px;
    box-shadow: 20px 20px 30px rgba(112, 117, 145, 0.05);
  }
  
  .cards .card p.tip {
    font-size: 1.4em;
    font-weight: 700;

    padding-top:1.5vw;
  }
  
  .cards .card p.second-text {
    font-size: .7em;
  }
  
  .cards .card:hover {
    transform: scale(1.05, 1.05);
  }
  

  .cards .card .skill-img{
    height:100%;
    padding:1vw;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .cards .card .skill-img img{
    max-width:150px;
    max-height:180px;
    padding: 1vw 0;
  }